.title{
  font-size: 2rem;
  margin-top: 1vw;
}
body{
  background-color: lightgray;
}
p{
  font-size: 1rem;
  margin: auto;
  margin-bottom: 4rem;
  text-align: center;
  width:80vw;
}
footer{
  width: 100%;
  background-color: gray;
  position: fixed;
  bottom: 0;
  padding-left:2vw;
  font-size: 1.25vw;
}
.nav-link{
  font-size: 1.25rem;
}

.navbar-nav{
  margin:auto;
  text-align: center;
}
h1{
  text-align: center;
  margin: auto;
  margin-top: 4vh;
}
h2{
  text-align: center;
  margin: auto;
  font-size: 1.5rem;
  margin-top: 3vh;
}

label{
  height: auto;
  font-size: 1.5vw;
}

input{
  height:auto;
  font-size: 1.5vw;
}